.navbar {
  background: linear-gradient(135deg, #6c5ce7 0%, #a29bfe 100%);
  min-height: 100px;
}

.nav-item {
  font-family: "Lilita One";
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #ffb400;
  text-decoration: none;
}

.separator {
  color: #ffb400;
  padding: 0 3px;
  font-size: 30px;
}

@media screen and (max-width:770px) {
  .nav-item {

    font-size: 20px !important;

  }

  .separator {
    font-size: 20px !important;
  }
}
