<section class="stats-section bg-stats">
  <div class="container">
      <p class="text-center stats-intro">
          Since our inception in 2015, we've been fusing advanced technology and financial data
          know-how to empower our clients to achieve business success.
      </p>
      <div class="row text-center">
          <div class="col-md-3 mb-4 mb-md-0">
            <div class="stats-card">
              <div class="text-center">
                  <div class="including-text">Subscribe by</div>
                  <div class="horizontal-line"></div>
                  <div class="number">520+</div>
                  <div class="label">INSTITUTION</div>
              </div>
          </div>
          </div>
          <div class="col-md-3 mb-4 mb-md-0">
            <div class="stats-card">
              <div class="text-center">
                  <div class="including-text">Including</div>
                  <div class="horizontal-line"></div>
                  <div class="number">200+</div>
                  <div class="label">DATASETS</div>
              </div>
          </div>
          </div>
          <div class="col-md-3 mb-4 mb-md-0">
            <div class="stats-card">
              <div class="text-center">
                  <div class="including-text">Data total</div>
                  <div class="horizontal-line"></div>
                  <div class="number">2,000+</div>
                  <div class="label">TERABYTES</div>
              </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="stats-card">
              <div class="text-center">
                  <div class="including-text">Total live-trading AUM</div>
                  <div class="horizontal-line"></div>
                  <div class="number">$350+</div>
                  <div class="label">BILLION</div>
              </div>
          </div>
          </div>
      </div>
  </div>
</section>
