<section class="stats-section bg-stats">
  <div class="container">
    <p class="text-center stats-intro">
      Since our inception in 2015, we've been fusing advanced technology and financial data
      know-how to empower our clients to achieve business success.
    </p>
    <div class="row text-center">
      @for (stat of stats; track $index) {
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="stats-card">
          <div class="text-center">
            <div class="including-text">{{ stat.title }}</div>
            <div class="horizontal-line"></div>
            <div class="number">{{ stat.number }}</div>
            <div class="label">{{ stat.label }}</div>
          </div>
        </div>
      </div>
      }

    </div>

  </div>
</section>
