<main>
  <section class="hero-section text-center">
    <div class="container">
      <p class="hero-subtitle mb-3">Coding is logical, data is beautiful.</p>
      <h1 class="hero-title mb-4">
        Enjoy coding,<br>
        Leave data to <span class="text-success">algoseek</span>.
      </h1>
      <p class="lead hero-subtitle">
        Financial data, technology and services.
      </p>
    </div>
  </section>

  <div class="justify-content-end pe-3 row">
    <div class="talk-button">
      <img class="spiral-icon" src="../../../assets/svgs/Talk to us button.svg" alt="icon talk" />
    </div>
  </div>
</main>
