<div class="bg-banner m-0 py-4 row w-100">
  <div class="align-items-center flex-column col-12 col-md-6 d-flex h-100 justify-content-center text-center">
    <div class="d-flex flex-column gap-2 gap-md-5">
      <h1 class="title-banner">CIÊNCIAS <br>
        HUMANAS</h1>
        <button class="btn btn-text pointer">Começar</button>
    </div>
  </div>
  <div class="align-items-center col-12 col-md-6 d-flex h-100 justify-content-center justify-content-md-start text-center">
    <img src="../../../assets/svgs/img1.svg" alt="opp`s" width="70%" />
  </div>
</div>
